.main{
    margin:100px 0px 0px 0px;
}

.google{
    display:block;
    width:300px;
    margin:0px auto 20px auto;
}

.search{
   display:block;
    width:400px;
    margin:0px auto 0px auto; 
    padding:10px 30px 10px 30px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
}


.container{
    display:flex;
    justify-content: center;
}

.btn{
    font-size:14px;
     margin:30px 10px 0px 0px; 
     padding:8px 16px 8px 16px;
    
}